{% extends "_everkm/layout.html" %}
{% import "_everkm/common_blocks.html" as common_blocks %}
{% import "_everkm/download_blocks.html" as download_blocks %}

{% block js %}
{{super()}}
<script>window.everkm.bootstrap('app_download')</script>
{% endblock js %}


{% block body %}

{% if __breadcrumbs %}
<div class="block-container mb-4 mt-3 px-4 md:px-0">
  {{ common_blocks::breadcrumb(navs = __breadcrumbs) }}
</div>
{% endif %}


<script>
  __lang = "{{__lang | safe}}"
  __desktopApp = {{ ds(src = "https://assets.daobox.cc/everkm-note/desktop/beta/latest.json") | json_encode(pretty = true) | safe }}
  __androidApp = {{ ds(src = "https://assets.daobox.cc/everkm-note/android/beta/latest.json") | json_encode(pretty = true) | safe }}
</script>
<div class="block-container mb-4 mt-3 px-4 md:px-0 flex gap-8 flex-row flex-wrap justify-center">
  <ekm-app-download source="__desktopApp" icon="icon-[simple-line-icons--screen-desktop]"
    title="{{t(text='app_download: Desktop')}}" button-text="{{t(text='app_download: Download')}}"
    invalidation-tips="{{t(text='app_download: Only desktop')}}"
    invalidation-help="{{t(text='app_download: PC download help')}}" only-desktop="true"></ekm-app-download>
  <ekm-app-download source="__androidApp" icon="icon-[uiw--android]" title="{{t(text='app_download: Android')}}"
    button-text="{{t(text='app_download: Download')}}" for-mobile="true"></ekm-app-download>
</div>

{% endblock body %}