{% extends "_everkm/layout.html" %}
{% import "_everkm/common_blocks.html" as common_blocks %}
{% import "_everkm/download_blocks.html" as download_blocks %}


{% block js %}
{{super()}}
<script>window.everkm.bootstrap('download')</script>
{% endblock js %}


{% block body %}

{% if __breadcrumbs %}
<div class="block-container mb-4 mt-3 px-4 md:px-0">  
  {{ common_blocks::breadcrumb(navs = __breadcrumbs) }}
</div>
{% endif %}

<div class="flex items-center justify-center space-x-6 text-lg">
  <a href="#stable" class="versions-tab-header !no-underline rounded-sm hover:bg-gray-100 cursor-pointer px-5 py-2">{{t(text="download: version stable")}}</a>
  <a href="#beta" class="versions-tab-header !no-underline rounded-sm hover:bg-gray-100 cursor-pointer px-5 py-2">{{t(text="download: version beta")}}</a>
</div>
{% set prefix = "https://assets.daobox.cc/everkm-publish/" %}
{{download_blocks::download_channel(prefix=prefix, channel="stable")}}
{{download_blocks::download_channel(prefix=prefix, channel="beta")}}
    
{% endblock body %}