<link rel="stylesheet"
  href="https://fastly.jsdelivr.net/combine/npm/prismjs@1.29.0/themes/prism-solarizedlight.css,npm/prismjs@1.29.0/plugins/toolbar/prism-toolbar.min.css">
<script
  src="https://fastly.jsdelivr.net/combine/npm/prismjs@1.29.0/components/prism-core.min.js,npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js,npm/prismjs@1.29.0/plugins/toolbar/prism-toolbar.min.js,npm/prismjs@1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script>
  Prism.plugins.autoloader.languages_path = 'https://fastly.jsdelivr.net/npm/prismjs@1.29.0/components/';
</script>