{% macro inner_holder() %}
<!-- <div class="toc-intersection"></div> -->
<div
    class="inner-toc sticky top-[var(--app-header-height)] z-[5] px-4 mb-2 border rounded-sm hidden lg:hidden bg-white">
    <div class=" py-1.5 cursor-pointer flex items-center">
        <span>{{t(text="In this page")}}</span>
        <div class="inline-block ml-1.5 text-[0.8rem] text-black/50 rotate-180">
            <span class="icon-[uiw--caret-up]"></span>
        </div>
    </div>
    <div class="toc-content select-none"></div>
</div>
{% endmacro inner_holder %}


{% macro inner_holder2() %}
<div data-role="inner-toc-intersection" class="bg-red-50"></div>
<div class="inner-toc mx-4 md:mx-8 hidden">
    <div class="inner-toc-holder py-2 cursor-pointer flex items-center">
        <span>{{t(text="In this page")}}</span>
        <div class="toc-expand-icon inline-block ml-1.5 text-[0.8rem] text-black/50 rotate-90">
            <span class="icon-[uiw--caret-up]"></span>
        </div>
    </div>
    <div class="inner-toc-content toc-content select-none"></div>
</div>
{% endmacro inner_holder2 %}


{% macro mount_holder(id="js-toc") %}
<div id="{{id}}" class="toc-content"></div>
{% endmacro mount_holder %}