{% import "_everkm/widgets/drawer_aside.html" as drawer_blocks %}

{% macro app_header(with_menu=false) %}
    <div class="flex-1 flex justify-between items-center px-4 py-2 lg:px-8">
        <div class="flex items-center">
            {% if local_cfg_exist(key='/site/logo') %}
            <a href="{{base_url()}}/">
                <img src="{{local_cfg(key='/site/logo') | safe}}" class="inline-block mr-2 w-8 h-8 font-medium" alt="{{t(text=" site
                    name")}}" />
            </a>
            {% endif %}

            <div>
                <a  href="{{base_url()}}/" class="text-lg !text-gray-800 font-medium">{{local_cfg(key="/site/name")}}</a>
                <span class="hidden lg:inline-block text-gray-600 text-xs">{{local_cfg(key="/site/slogan",
                    default="")}}</span>
            </div>
        </div>
        <div class="hidden md:flex space-x-3">
            {{self::embed_search(only_button=false)}}
            {{self::primary_nav()}}
        </div>

        <div class="flex-shrink-0 ml-4 overflow-hidden md:hidden flex items-center gap-3">
            {{self::embed_search(only_button=true)}}
            {% if with_menu %}
            {{drawer_blocks::icon_button()}}
            {% endif %}
        </div>

    </div>
{% endmacro app_header %}


{% macro primary_nav() %}
    {% set navs = local_cfg(key="primary_nav", default=[]) %}
    {% for nav in navs %}
    <div class="flex items-center"><a href="{{nav.url|safe}}" class="link inline-block">{{nav.title}}</a></div>
    {% endfor %}
{% endmacro %}

{% macro embed_search(only_button=true) %}
    {% if local_cfg_exist(key='/embed_search') %}
    <div class="inline-flex items-center">
        <ekm-in-search app-id="{{local_cfg(key='/embed_search/app_id')}}" 
                   api-key="{{local_cfg(key='/embed_search/api_key')}}"
                   index="{{local_cfg(key='/embed_search/index')}}" 
                   only-button="{{only_button}}"
                   class="inline-flex" />
    </div>
    {% endif %}
{% endmacro %}


{% macro breadcrumb(navs) %}
    <div class="text-zinc-400 text-[0.9em]">
        {% for nav in navs %}
        {% if loop.index0 %} &raquo; {% endif %}
        {% if nav.url %}<a class="text-zinc-700" href="{{base_url()}}{{nav.url|safe}}">{% endif %}
            {{nav.caption}}
            {% if nav.url %} </a> {% endif %}
        {% endfor %}
    </div>
{% endmacro breadcrumb %}