@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    list-style: disc;
    ul {
      list-style: circle;
      ul {
        list-style: square;
        ul {
          list-style: disc;
        }
      }
    }
  }

  ol {
    list-style: decial;

    ol {
      ol {
        ol {
          list-style: decial !important;
        }
      }
    }

    /* list-style: none !important;
    @apply pl-0;

    li:before {
      
      font-family: Times New Roman;
    }
    li {
      counter-increment: a 1;
      margin-left: -1em !important;
    }
    li:before {
      content: counter(a) '. ';
    }
    li li {
      counter-increment: b 1;
    }
    li li:before {
      content: counter(a) '.' counter(b) '. ';
    }
    li li li {
      counter-increment: c 1;
    }
    li li li:before {
      content: counter(a) '.' counter(b) '.' counter(c) '. ';
    } */
  }
}

html {
  @apply text-[14px];
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  html {
    font-size: 16px;
  }
}

a {
  @apply underline-offset-4 hover:underline;
}

.my-font-color {
  color: #005b99 !important;
}

.number {
  font-family: Cambria, 'Times New Roman', Times, serif;
}

.link {
  @apply text-blue-600 hover:text-blue-700;
}

.common-tag-a {
  a {
    @apply underline-offset-4 hover:text-blue-600 hover:underline;
  }
}

.footer {
  @apply absolute bottom-0 left-0 flex w-full flex-col justify-center;
  height: 8rem;
}

.footer-nav {
  a {
    @apply text-black/80;
    &:hover {
      @apply underline underline-offset-4;
    }

    &:after {
      content: ' ·';
    }

    &:last-child:after {
      content: '' !important;
    }
  }
}

.block-container {
  @apply mx-auto w-full max-w-screen-md px-6 md:px-8 2xl:px-0;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.body-container {
  position: relative;
  padding-bottom: 10rem; /* 留出footer高度，再多加两行 */
  min-height: 100%;
}

.jingxuan {
  @apply justify-between px-4 md:flex;
  flex-flow: row wrap;
  @screen md {
    @apply px-0;
  }

  & > div {
    @screen md {
      width: calc((100% - 1 * 1.5rem) / 2);
    }
    margin-bottom: 2rem;
  }
}

.mark-top {
  content: ' ';
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="48" height="48" viewBox="0 0 48 48"%3E%3Cg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"%3E%3Cpath d="M24.0083 14.1006V42.0001"%2F%3E%3Cpath d="M12 26L24 14L36 26"%2F%3E%3Cpath d="M12 6H36"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    no-repeat center center / contain;
  @apply inline-block h-[0.7em] w-[0.7em];
}
