@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    list-style: disc;
    ul {
      list-style: circle;
      ul {
        list-style: square;
        ul {
          list-style: disc;
        }
      }
    }
  }

  ol {
    list-style: decial;

    ol {
      ol {
        ol {
          list-style: decial !important;
        }
      }
    }

    /* list-style: none !important;
    @apply pl-0;

    li:before {
      
      font-family: Times New Roman;
    }
    li {
      counter-increment: a 1;
      margin-left: -1em !important;
    }
    li:before {
      content: counter(a) '. ';
    }
    li li {
      counter-increment: b 1;
    }
    li li:before {
      content: counter(a) '.' counter(b) '. ';
    }
    li li li {
      counter-increment: c 1;
    }
    li li li:before {
      content: counter(a) '.' counter(b) '.' counter(c) '. ';
    } */
  }
}

html {
  @apply text-[14px];
  --color-accent-fg: #0969da;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  html {
    font-size: 16px;
  }
}

body {
  overscroll-behavior: none;
}

.block-container {
  @apply mx-auto w-full max-w-screen-md px-4 md:px-0;
}

.markdown-body {
  @apply !mx-auto max-w-4xl;
}

.footer {
  @apply flex w-full flex-col justify-center pb-4 pt-6;
}

.footer-nav {
  div {
    @apply inline;

    &:after {
      content: ' ·';
    }

    &:last-child:after {
      content: '' !important;
    }
  }
  a {
    @apply text-black/80;
    &:hover {
      @apply underline;
    }
  }
}

a {
  @apply underline-offset-4 hover:text-[var(--color-accent-fg)] hover:underline;
  color: var(--color-accent-fg);
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.block-formula {
  @apply text-center;
}

.lang-formula {
  @apply invisible;
}

/* h1, h2, h3, h4, h5, h6, h7 {
  @apply inline-flex items-center;
} */

h1 .heading-anchor,
h2 .heading-anchor,
h3 .heading-anchor,
h4 .heading-anchor,
h5 .heading-anchor,
h6 .heading-anchor,
h7 .heading-anchor {
  visibility: hidden;
  @apply inline-block !no-underline;
  margin-left: 0.2em;
  width: 1em;
  height: 1em;
  margin-top: -0.2em; /* 猜测抵消1.25倍的行高 */
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236E7781' version='1.1' width='18' height='18' aria-hidden='true'%3E%3Cpath d='m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z'%3E%3C/path%3E%3C/svg%3E");
  @apply opacity-70 hover:opacity-100;
}

h1:hover .heading-anchor,
h2:hover .heading-anchor,
h3:hover .heading-anchor,
h4:hover .heading-anchor,
h5:hover .heading-anchor,
h6:hover .heading-anchor,
h7:hover .heading-anchor {
  visibility: visible;
}

td:nth-of-type(-n + 4) {
  white-space: nowrap;
}

/* .toc-content{
  li{
    list-style: none;
  }
} */

code[class*='language-'],
pre[class*='language-'] {
  font-size: 0.92em !important;
  font-family: monospace, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono' !important;
}

.inner-toc {
  @apply border px-2;
}

.inner-toc-sticky {
  @apply !mx-0 !px-4;
}

.nav-tree {
  .is-folder {
    @apply font-medium;
  }
}

.mark-top {
  content: ' ';
  @apply icon-[material-symbols--vertical-align-top-rounded] inline-block h-[0.7em] w-[0.7em];
}
